body {
    font-family: 'Arial', 'Helvetica', sans-serif;
}
p {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 14px;
    line-height: 20px;
}
.btn {
    border: 3px solid #fec63e;
    padding: 10px 30px;
    color: #fec63e;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .1em;
}
.btn:hover {
    color: #fff;
    border-color: #fff;
}
.btn.btn-preto:hover {
    color: #000;
    border-color: #000;
}
.subtitulo {
    font-weight: bold;
    font-size:24px;
    line-height: 30px;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}
.subtitulo:after {
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 8px auto; 
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fec63e;
    padding: 15px 0;
    z-index: 10;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
}

.header_menu ul li a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
}

.header_menu ul li a:hover {
    color: #fff;
}

.introducao {
    width: 100%;
    height: 380px;
    margin-top: 96px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
}

.introducao h1 {
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold; 
    color: #fff; 
}
.quote-externo {
    max-width: 360px;
    margin: 0 auto;
    color: white;
    margin-bottom: 40px;
    
}
.quote-externo p {
    font-style: italic;
}
.quote-externo p:before, .quote-externo p:after {
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 14px auto 10px auto; 
}

.quote-externo cite {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}
.produtos {
    padding: 60px 0;
}
.produtos_lista li{
    background: #fec63e;
    text-align: center;
}
.produtos_lista li h3 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.produtos_lista li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 2px auto;
    background: #000;
}
.produtos_icone {
    background: #000;
    padding: 20px;
}
.produtos_lista li p {
    padding: 10px 20px 20px 20px;
}
.call {
    text-align: center;
    padding-top: 40px;
    clear: both;
}
.call p {
    margin-bottom: 20px;
}